.characters-list__filters {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: center;
  gap: 28px;
  box-sizing: border-box;
  width: 1044px;
  max-width: 100%;
  padding: 40px 0 24px;
}
