.characters-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 40px;
}

.characters-list__logo {
  margin-top: 20px;
}

.status-option {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.status-option__label {
  font-weight: 400;
  color: #393939;
}

.select--big .status-option__label {
  font-size: 16px;
  line-height: 21px;
}

.select--small .status-option__label {
  font-size: 14px;
  line-height: 21px;
}

.characters-list__cards {
  display: grid;
  grid-template-columns: repeat(2, 510px);
  gap: 24px;
  box-sizing: border-box;
  width: 1044px;
  max-width: 100%;
}
