.footer {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  height: 60px;
  background-color: #fff;
  box-shadow: -2px 0 8px 2px rgb(0 0 0 / 10%);
}
