.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
}

.app-layout__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #e1ffc2;
}
